<template>
  <v-card>
    <v-card-title>
      <span class="title">{{ proposal.title }}</span>
      <v-spacer />
      <span class="caption">Posted {{ proposal.created_at | fromNow }}</span>
    </v-card-title>
    <v-divider />
    <v-card-text>
      <span class="body-1">{{ proposal.description }}</span>
      <br />
      <br />
      <span class="label">Crops:</span>
      {{ proposal.crops }}⁠
      <br />
      <span class="label">Est. Duration:</span>
      {{ proposal.duration | toDuration }}⁠ —
      <span class="label">Est. Budget:</span>
      ₱ {{ proposal.budget | toCurrency }}⁠ —
      <span class="label">Location:</span>
      {{ proposal.location }}
    </v-card-text>
    <v-divider />

    <v-card-actions class="d-flex justify-end">
      <slot name="actions" />
    </v-card-actions>
  </v-card>
</template>

<script>
import moment from 'moment';
import numeral from 'numeral';

export default {
  props: {
    proposal: {
      type: Object,
      required: true,
    },
  },

  filters: {
    fromNow: v => moment(v).fromNow(),
    toCurrency: v => numeral(v).format('0,0.00'),
    toDuration: v => moment.duration(v, 'months').humanize(),
  },
};
</script>

<style lang="scss">
.label {
  font-weight: 500;
}
</style>
