<template>
  <v-app>
    <component :is="header" />

    <v-content>
      <router-view />
    </v-content>

    <app-snackbar />
  </v-app>
</template>

<script>
import AppHeader from '@/components/Headers/AppHeader.vue';
import BasicHeader from '@/components/Headers/BasicHeader.vue';
import Snackbar from '@/components/Snackbar.vue';

export default {
  name: 'App',
  components: {
    AppAppHeader: AppHeader,
    AppBasicHeader: BasicHeader,
    AppSnackbar: Snackbar,
  },

  computed: {
    header() {
      const { layout: layoutName = 'app' } = this.$route.meta;
      return `app-${layoutName}-header`;
    },
  },
};
</script>
