<template>
  <div style="width: 100%">
    <v-card min-width="700" class="card">
      <v-card-title>{{ loggedInUser.name }}</v-card-title>
      <v-card-text>Email: {{ loggedInUser.email }}</v-card-text>
    </v-card>

    <v-card class="card">
      <v-card-title>Preferences</v-card-title>
      <v-card-text>
        <v-combobox v-model="preference.crops" :items="crops" chips multiple label="Crops" />
        <v-subheader class="pl-0">Expected minimum payment amount</v-subheader>
        <v-row>
          <v-col cols="3">
            <v-text-field v-model="preference.min_payment" prepend-icon="mdi-currency-php" disabled />
          </v-col>
          <v-col cols="9">
            <v-slider v-model="preference.min_payment" step="5000" max="1000000" height="60" />
          </v-col>
        </v-row>
        <v-combobox
          v-model="preference.locations"
          :items="locations"
          chips
          multiple
          label="Locations"
        />
      </v-card-text>
      <v-card-actions class="d-flex justify-end">
        <v-btn class="primary" @click="updateUserPreferences">Save</v-btn>
      </v-card-actions>
    </v-card>
  </div>
</template>

<script>
import _ from 'lodash';
import { mapActions, mapState } from 'vuex';

export default {
  name: 'Info',
  data() {
    return {
      preference: {},
      crops: [],
      locations: [],
      userId: 1,
    };
  },
  async created() {
    await this.getLoggedInUser(this.userId);

    this.preference = await this.getPreference(this.userId);

    const proposals = await this.getProposals();

    this.crops = _(proposals)
      .map('crops')
      .reduce((res, c) => (res.push(c.split(',')), _.flatten(res)), []);

    this.locations = _(proposals)
      .map('locations')
      .reduce((res, c) => (res.push(c.split(',')), _.flatten(res)), []);
  },
  computed: {
    ...mapState('user', ['loggedInUser']),
  },
  methods: {
    ...mapActions('user', ['getLoggedInUser', 'getPreference', 'updatePreference']),
    ...mapActions('proposals', { getProposals: 'fetch' }),

    async updateUserPreferences() {
      await this.updatePreference({
        userId: this.userId,
        ...this.preference,
      });
    },
  },
};
</script>

<style scoped>
.card {
  padding: 20px;
  margin: 30px;
}

/deep/ .v-messages {
  display: none;
}
</style>
