<template>
  <v-app-bar :clipped-left="$vuetify.breakpoint.lgAndUp" app color="primary" dark>
    <v-toolbar-title style="width: 300px" class="ml-0 pl-4">
      <slot name="pre-logo" />
      <span class="hidden-sm-and-down">tanim.ph</span>
    </v-toolbar-title>
    <slot />
  </v-app-bar>
</template>
