<template>
  <v-navigation-drawer
    :value="value"
    @input="$emit('input', $event)"
    :clipped="$vuetify.breakpoint.lgAndUp"
    app
  >
    <v-list nav>
      <v-list-item-group v-model="model" color="primary">
        <v-list-item v-for="item in items" :key="item.text" @click="onItemClick(item)">
          <v-list-item-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>
              <span class="active">{{ item.text }}</span>
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list-item-group>
    </v-list>
  </v-navigation-drawer>
</template>


<script>
export default {
  props: {
    value: {
      type: Boolean,
    },
  },

  data: () => ({
    model: null,
    items: [
      {
        icon: 'mdi-home',
        text: 'Home',
        pathName: 'proposals',
      },
      {
        icon: 'mdi-cards-heart',
        text: 'Saved Proposals',
        pathName: 'saved-proposals',
      },
      {
        icon: 'mdi-bag-checked',
        text: 'Recommendations',
        pathName: 'profile',
      },
    ],
  }),

  computed: {
    currentRouteName() {
      return this.$route.name;
    },
  },

  methods: {
    onItemClick(item) {
      const { pathName: name } = item;
      if (name === this.currentRouteName) return;

      this.$router.push({ name });
    },
  },
};
</script>

<style lang="scss" scoped>
.active {
  color: "green";
}
</style>
