<template>
  <v-snackbar v-model="show" v-bind="vxsOptions">
    {{ message }}
    <v-btn icon text @click="show = false">
      <v-icon>mdi-close</v-icon>
    </v-btn>
  </v-snackbar>
</template>

<script>
import { mapState } from 'vuex';

export default {
  data: () => ({
    show: false,
    message: '',
  }),

  computed: {
    ...mapState('snackbar', {
      vxsMessage: 'message',
      vxsOptions: 'options',
    }),
  },

  watch: {
    vxsMessage(value) {
      if (value === '') return;

      this.message = value;
      this.show = true;
      this.$store.commit('snackbar/EMPTY_MESSAGE');
    },
  },
};
</script>
