<template>
  <div>
    <app-navigation-drawer v-model="drawer" />

    <ani-app-bar>
      <template v-slot:pre-logo>
        <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
      </template>

      <!--v-text-field
        flat
        solo-inverted
        hide-details
        prepend-inner-icon="mdi-magnify"
        label="Search"
        class="hidden-sm-and-down"
      /-->
      <div class="flex-grow-1"></div>
      <v-btn icon>
        <v-icon>mdi-apps</v-icon>
      </v-btn>
      <v-btn icon>
        <v-icon>mdi-bell</v-icon>
      </v-btn>
      <v-menu
        transition="slide-y-transition"
        class="mr-2"
        offset-y
      >
        <template v-slot:activator="{ on }">
          <v-btn
            icon
            large
            class="align-center font-weight-regular"
            slot="activator"
            v-on="on"
          >
            <v-avatar size="32px" item>
              <v-icon>mdi-account</v-icon>
            </v-avatar>
          </v-btn>
        </template>
        <v-list>
          <v-list-item v-for="item in items" :key="item.text" @click="onItemClick(item)">
            <v-icon class="pr-2">{{ item.icon }}</v-icon>
            {{ item.text }}
          </v-list-item>
        </v-list>
      </v-menu>
    </ani-app-bar>
  </div>
</template>

<script>
import AppBar from '@/components/AppBar.vue';
import NavigationDrawer from '@/components/NavigationDrawer.vue';

export default {
  components: {
    AniAppBar: AppBar,
    AppNavigationDrawer: NavigationDrawer,
  },

  data: () => ({
    dialog: false,
    drawer: null,
    items: [
      {
        icon: 'mdi-account',
        text: 'Profile',
        pathName: 'profile',
      },
      {
        icon: 'mdi-exit-to-app',
        text: 'Logout',
        pathName: 'login',
      },
    ],
  }),

  computed: {
    currentRouteName() {
      return this.$route.name;
    },
  },

  methods: {
    onItemClick(item) {
      const { pathName: name } = item;
      if (name === this.currentRouteName) return;

      this.$router.push({ name });
    },
  },
};
</script>

<style scoped>
  .v-list:hover {
    cursor: pointer;
  }
</style>
