<template>
  <div class="about">
    <h1>This is an about page</h1>
    <v-btn @click="vxaShowError('Hello')">Click me</v-btn>
  </div>
</template>

<script>
import { mapActions } from 'vuex';

export default {
  methods: {
    ...mapActions('snackbar', {
      vxaShowSuccess: 'showSuccess',
      vxaShowError: 'showError',
    }),
  },
};
</script>
