<template>
  <v-container>
    <v-row align="center" justify="center" class="pa-8">
      <ProfileInfo />
    </v-row>
  </v-container>
</template>

<script>
import ProfileInfo from '@/components/Profile/Info.vue';

export default {
  components: {
    ProfileInfo,
  },
};
</script>
