<template>
  <v-container>
    <v-data-iterator
      :items="proposals"
      :items-per-page.sync="itemsPerPage"
      :page="page"
      :sort-by="sortBy"
      :sort-desc="sortDesc"
      :search="search"
    >
      <template v-slot:header>
        <v-card color="secondary" dark>
          <v-container fluid py-1>
            <v-row>
              <v-col cols="12" sm="12">
                <v-text-field
                  v-model="search"
                  clearable
                  flat
                  solo-inverted
                  hide-details
                  prepend-inner-icon="mdi-magnify"
                  label="Search for Proposal"
                />
              </v-col>

              <v-col cols="12" sm="6">
                <v-select
                  v-model="sortBy"
                  hide-details
                  :items="properties"
                  prepend-inner-icon="mdi-magnify"
                  label="Sort by"
                />
              </v-col>

              <v-col
                cols="12"
                sm="6"
                :class="{
                  'd-flex': $vuetify.breakpoint.smAndUp,
                  'justify-end': $vuetify.breakpoint.smAndUp,
                }"
              >
                <v-switch
                  hide-details
                  v-model="sortDesc"
                  :label="sortDesc ? 'Descending' : 'Ascending'"
                />
              </v-col>
            </v-row>
          </v-container>
        </v-card>
      </template>

      <template v-slot:default="{ items }">
        <v-row v-for="proposal in items" :key="proposal.id" no-gutter>
          <v-col>
            <app-proposals-list-item :proposal="proposal">
              <template v-slot:actions>
                <v-btn text color="accent">Save Proposal</v-btn>
                <v-btn text color="accent">Share</v-btn>
              </template>
            </app-proposals-list-item>
          </v-col>
        </v-row>
      </template>
    </v-data-iterator>
  </v-container>
</template>

<script>
import { mapActions } from 'vuex';
import ProposalsListItem from '@/components/Proposals/ProposalsListItem.vue';

export default {
  components: {
    AppProposalsListItem: ProposalsListItem,
  },

  data: () => ({
    proposals: [],
    search: '',
    itemsPerPage: 5,
    sortBy: 'created_at',
    sortDesc: true,
    page: 1,
    properties: [
      { text: 'Posted', value: 'created_at' },
      { text: 'Title', value: 'title' },
      { text: 'Budget', value: 'budget' },
      { text: 'Duration', value: 'duration' },
    ],
  }),

  methods: {
    ...mapActions('proposals', {
      vxaFetchProposals: 'fetch',
    }),
  },

  async created() {
    this.proposals = await this.vxaFetchProposals();
  },
};
</script>
