<template>
  <v-container>
    <v-data-iterator
      :items="savedProposals"
      :items-per-page.sync="itemsPerPage"
      :page="page"
      :sort-by="sortBy"
      :sort-desc="sortDesc"
      :search="search"
    >
      <template v-slot:header>
        <span class="title">Saved Proposals</span>
      </template>

      <template v-slot:default="{ items }">
        <v-row v-for="proposal in items" :key="proposal.id" no-gutter>
          <v-col>
            <app-proposals-list-item :proposal="proposal">
              <template v-slot:actions>
                <v-btn text color="accent">Remove Proposal</v-btn>
                <v-btn text color="accent">Share</v-btn>
              </template>
            </app-proposals-list-item>
          </v-col>
        </v-row>
      </template>
    </v-data-iterator>
  </v-container>
</template>

<script>
import { mapActions } from 'vuex';
import ProposalsListItem from '@/components/Proposals/ProposalsListItem.vue';

export default {
  components: {
    AppProposalsListItem: ProposalsListItem,
  },

  data: () => ({
    proposals: [],
    search: '',
    itemsPerPage: 5,
    sortBy: 'created_at',
    sortDesc: true,
    page: 1,
    properties: [
      { text: 'Posted', value: 'created_at' },
      { text: 'Title', value: 'title' },
      { text: 'Budget', value: 'budget' },
      { text: 'Duration', value: 'duration' },
    ],
  }),

  computed: {
    savedProposals() {
      return _.filter(this.proposals, 'saved');
    },
  },

  methods: {
    ...mapActions('proposals', {
      vxaFetchProposals: 'fetch',
    }),
  },

  async created() {
    this.proposals = await this.vxaFetchProposals();
  },
};
</script>
